<div *ngIf="video">
    <h1>video-detail works!</h1>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{video.videoName | uppercase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image width="600" [src]="video.videoThumbNail" [alt]="video.videoName">
        </mat-card-content>
        <iframe width="560" height="315" [src]="video.videoFrameLink" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <mat-card-footer>
            <mat-card-actions>
                <button mat-button color="primary" (click)="onBack()">Quay Lại</button>
                <a mat-button color="primary" (click)="onBack()" [href]="video.videoShareLink" target="_blank">Xem
                    Video</a>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</div>
<div *ngIf="!video">
    <p>video detail Loading. . .</p>
    <mat-spinner></mat-spinner>
</div>