<footer class="footer" *ngIf="links">
    <div class="row">
        <h2 class="links">Links</h2>
        <mat-list *ngFor="let link of links" color="primary">
            <mat-list-item>
                <button mat-button [routerLink]="link.url" routerLinkActive="active">{{link.name|uppercase}}</button>
            </mat-list-item>
        </mat-list>
    </div>
    <!-- Copyright -->
    <div class="row">
        <p class="cpr-text">
            © Copyright 2020:<a href="https://luyentaplaptrinhweb.github.io/wod-web">
                luyentaplaptrinhweb.github.io/wod-web</a>. All rights reserved.
        </p>
    </div>
    <!-- Copyright -->
</footer>

<div *ngIf="!links">
    <mat-spinner></mat-spinner>
    <h4>Footer Loading . . .</h4>
</div>