<div *ngIf="videos" fxFlex>
    <!-- <h1>Video successful!</h1> -->
    <mat-grid-list cols='1' rowHeight="200px" *ngFor="let video of videos">
        <mat-grid-tile>
            <img [src]="video.videoThumbNail" alt="{{video.videoName}}" [routerLink]="['/video', video.videoId]">
            <mat-grid-tile-footer>
                <a mat-button [routerLink]="['/video', video.videoId]">
                    <h1>{{video.videoName|uppercase}}</h1>
                </a>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div *ngIf="!videos">
    <p>videos Loading. . .</p>
    <mat-spinner></mat-spinner>
</div>