form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 15px 15px 60px 15px;
    height: 768px;
    background: #baa2d1;
    color: rgb(83, 35, 95);
    font-size: 18px;
    mat-form-field {
        width: 100%;
        // background: rgb(255, 255, 255, 0.2);
        border-radius: 5px;
        margin: 2px;
    }
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
    }
}
p {
    margin-bottom: 5px;
}
table {
    display: flex;
    flex-direction: column;
    td {
        margin-bottom: 5px;
        width: 100%;
    }
}

.half-width {
    width: 45%;
}

.form-size {
    width: 75%;
}
.title {
    margin-top: 60px;
}
