<form novalidate [formGroup]="heroForm" #heroForm="ngForm" (ngSubmit)="onSubmit()">
    {{diagnostic }}
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" id="name" [formControl]="name" name="name" placeholder="name" required>
            <mat-hint>TODO: remove this: {{name}}</mat-hint>
            <mat-error *ngIf="name.valid">

            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Alter ego</mat-label>
            <input matInput type="text" id="alterEgo" [formControl]="alterEgo" name="alterEgo" placeholder="alterEgo"
                required>
            <mat-hint>TODO: remove this: {{alterEgo}}</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Hero Power</mat-label>
            <mat-select id="power" required>
                <!-- <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option> -->
                <mat-option *ngFor="let pow of powers" [value]="pow">{{pow}}</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <button type="submit" mat-button [disabled]="!heroForm.form.valid">
        Save
    </button>
    <button mat-button type="button" class="btn btn-default" (su)="newHero()">New Hero</button>
</form>