<div fxFlex>
    <form class="full-width" novalidate [formGroup]="feedBackForm" (ngSubmit)="onSubmit()">
        <h2 class="title">Send us your feedback</h2>
        <mat-form-field class="half-width">
            <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput formControlName="telnum" placeholder="Tel. Num" type="text" required>
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput formControlName="email" placeholder="Email" type="text" required>
        </mat-form-field>
        <mat-slide-toggle formControlName="argee">May we contact you?</mat-slide-toggle>
        <mat-form-field appearance="fill">
            <mat-label>How?</mat-label>
            <mat-select placeholder="How?" formControlName="contacttype">
                <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                    {{ ctype }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput formControlName="message" placeholder="Your Feedback" rows="8"></textarea>
        </mat-form-field>
        <button mat-button class="background-primary text-floral-white" type="submit">Submit</button>
    </form>
</div>