<div class="demo-carousel" [style.height]="parentHeight" *ngIf="slidesList">
    <mat-carousel #matCarousel [timings]="timings" [autoplay]="autoplay" [interval]="interval" [loop]="loop"
        [hideArrows]="hideArrows" [hideIndicators]="hideIndicators" [color]="color" [maxWidth]="maxWidth"
        [proportion]="proportion" [useKeyboard]="useKeyboard" [useMouseWheel]="useMouseWheel"
        [orientation]="orientation" [slides]="slideOfLength" [maintainAspectRatio]="maintainAspectRatio"
        [slideHeight]="slideHeight" (change)="onChange($event)">
        <mat-carousel-slide #matCarouselSlide *ngFor="let s of slidesList; let i = index" [image]="s.image"
            [overlayColor]="overlayColor" [hideOverlay]="hideOverlay">
            <ng-container *ngIf="showContent">
                <div class="content">
                    <h1>{{ i }}</h1>
                    <p>disabled: {{ matCarouselSlide.disabled }}</p>
                    <button mat-flat-button (click)="
                matCarouselSlide.disabled = !matCarouselSlide.disabled
              ">
                        Click me!
                    </button>
                </div>
            </ng-container>
        </mat-carousel-slide>
    </mat-carousel>
    <mat-list *ngIf="heroes" class="content-row">
        <mat-card *ngFor='let hero of heroes' class="card-style">
            <mat-card-header>
                <mat-card-title>{{hero.name| uppercase }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="container">
                <img class="card-image" mat-card-img [src]="hero.image" alt="{{hero.name}}">
                <mat-card-description class="centered">
                    {{hero.power| uppercase}} - {{hero.alterEgo| uppercase}}
                </mat-card-description>
            </mat-card-content>
            <mat-card-footer>
                This is hero id = {{hero.id}}
            </mat-card-footer>
        </mat-card>
    </mat-list>
</div>
<div *ngIf='!slidesList'>
    <mat-spinner></mat-spinner>
    <h1>phòng tranh loading...</h1>
</div>