<div class="demo-carousel" [style.height]="slideCF.parentHeight" *ngIf="gallerysList">
    <mat-carousel #matCarousel [timings]="slideCF.timings" [autoplay]="slideCF.autoplay" [interval]="slideCF.interval"
        [loop]="slideCF.loop" [hideArrows]="slideCF.hideArrows" [hideIndicators]="slideCF.hideIndicators"
        [color]="slideCF.color" [maxWidth]="slideCF.maxWidth" [proportion]="slideCF.proportion"
        [useKeyboard]="slideCF.useKeyboard" [useMouseWheel]="slideCF.useMouseWheel" [orientation]="slideCF.orientation"
        [slides]="slideCF.slideOfLength" [maintainAspectRatio]="slideCF.maintainAspectRatio"
        [slideHeight]="slideCF.slideHeight" (change)="onChange($event)">
        <mat-carousel-slide #matCarouselSlide *ngFor="let gallery of gallerysList; let i = index"
            [overlayColor]="slideCF.overlayColor" [hideOverlay]="slideCF.hideOverlay" (change)="onChangeSlide(gallery)">
            <ng-container *ngIf="slideCF.showContent">
                <div class="content-row">
                    <mat-card class="card-style" *ngIf="gallery">
                        <mat-card-header class="card-header">
                            {{gallery.name| uppercase }}
                        </mat-card-header>
                        <mat-card-content class="container">
                            <img class="card-image" mat-card-img [src]="gallery.image" alt="{{gallery.name}}">
                            <mat-card-title class="top-left" [routerLink]="[ '/phongtranh', gallery.id]">
                                No.{{gallery.id}}
                            </mat-card-title>
                            <mat-card-description class="centered">
                                {{gallery.power| uppercase}} - {{gallery.alterEgo| uppercase}}
                            </mat-card-description>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-container>
        </mat-carousel-slide>
    </mat-carousel>

</div>
<div *ngIf='!gallerysList'>
    <mat-spinner></mat-spinner>
    <h1>phòng tranh loading...</h1>
</div>