<div class="demo-carousel" [style.height]="parentHeight" *ngIf="slidesList">
    <mat-carousel #matCarousel [timings]="timings" [autoplay]="autoplay" [interval]="interval" [loop]="loop"
        [hideArrows]="hideArrows" [hideIndicators]="hideIndicators" [color]="color" [maxWidth]="maxWidth"
        [proportion]="proportion" [useKeyboard]="useKeyboard" [useMouseWheel]="useMouseWheel"
        [orientation]="orientation" [slides]="slideOfLength" [maintainAspectRatio]="maintainAspectRatio"
        [slideHeight]="slideHeight" (change)="onChange($event)">
        <!-- <mat-carousel-slide #matCarouselSlide *ngFor="let hero of heroes; let i = index" [image]="hero.image" -->
        <mat-carousel-slide #matCarouselSlide *ngFor="let hero of slidesList; let i = index" [image]="hero.image"
            [overlayColor]="overlayColor" [hideOverlay]="hideOverlay">
            <ng-container *ngIf="showContent">
                <!-- <ng-container *ngIf="false"> -->
                <!-- <div class="content"> -->
                <div class="content-row">
                    <mat-card class="card-style">
                        <mat-card-header class="card-header">
                            {{hero.name| uppercase }}
                        </mat-card-header>
                        <mat-card-content class="container">
                            <img class="card-image" mat-card-img [src]="hero.image" alt="{{hero.name}}">
                            <mat-card-title class="top-left">No.{{hero.id}}</mat-card-title>
                            <mat-card-description class="centered">
                                {{hero.power| uppercase}} - {{hero.alterEgo| uppercase}}
                            </mat-card-description>
                        </mat-card-content>
                        <!-- <mat-card-footer>
                            {{hero.power| uppercase}} - {{hero.alterEgo| uppercase}}
                        </mat-card-footer> -->
                    </mat-card>
                </div>
            </ng-container>
        </mat-carousel-slide>
    </mat-carousel>
    <mat-list *ngIf="heroes" class="content-row">
        <mat-card *ngFor='let hero of slidesList' class="card-style">
            <!-- <mat-card *ngFor='let hero of heroes' class="card-style"> -->
            <mat-card-header class="card-header">
                {{hero.name| uppercase }}
            </mat-card-header>
            <mat-card-content class="container">
                <img class="card-image" mat-card-img [src]="hero.image" alt="{{hero.name}}">
                <mat-card-title class="top-left">No.{{hero.id}}</mat-card-title>
                <!-- <mat-card-description class="centered">
                    {{hero.power| uppercase}} - {{hero.alterEgo| uppercase}}
                </mat-card-description> -->
            </mat-card-content>
        </mat-card>
    </mat-list>
</div>
<div *ngIf='!slidesList'>
    <mat-spinner></mat-spinner>
    <h1>phòng tranh loading...</h1>
</div>