$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-720p: 1280px;
$breakpoint-desktop-1080p: 1920px;

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: #{$breakpoint-tablet - 1px}) and (orientation : landscape) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (max-width: #{$breakpoint-tablet - 1px}) and (orientation : portrait) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin tablet-min-width {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin all-mobiles {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen
    and (min-device-width: #{$breakpoint-tablet})
    and (max-device-width : #{$breakpoint-desktop - 1px})
    and (orientation : landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen
    and (min-device-width: #{$breakpoint-tablet})
    and (max-device-width : #{$breakpoint-desktop - 1px})
    and (orientation : portrait) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-desktop-1080p - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin desktop-1080p {
  @media (min-width: #{$breakpoint-desktop-1080p}) {
    @content;
  }
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-wrap-row {
  @include flex-row;
  flex-wrap: wrap;
}

@mixin flex-wrap-column {
  @include flex-column;
  flex-wrap: wrap;
}

@mixin row-vertical-center {
  @include flex-row;
  align-items: center;
}

@mixin row-vertical-baseline {
  @include flex-row;
  align-items: baseline;
}

@mixin row-horizontal-start {
  @include flex-row;
  justify-content: flex-end;
}

@mixin row-horizontal-center {
  @include flex-row;
  justify-content: center;
}

@mixin row-horizontal-end {
  @include flex-row;
  justify-content: flex-start;
}

@mixin column-horizontal-start {
  @include flex-row;
  justify-content: flex-start;
}

@mixin column-horizontal-center {
  @include flex-column;
  justify-content: center;
}

@mixin column-horizontal-end {
  @include flex-column;
  justify-content: flex-end;
}

@mixin row-content-centered {
  @include flex-row;
  justify-content: center;
  align-items: center;
}

@mixin column-content-centered {
  @include flex-row;
  justify-content: center;
  align-items: center;
}

// *************************************
// COLOR
// *************************************
$color-coral-dark3: #c14a36;
$color-coral-dark2: #dc5a44;
$color-coral-dark1: #ec6453;
$color-coral: #ff7769;
$color-coral-light1: #f69082;
$color-coral-light2: #fcaca1;
$color-coral-light3: #f6ccc7;
$color-coral-light4: #f6dcd8;

$color-green-dark3: #004427;
$color-green-dark2: #036a3d;
$color-green-dark1: #06874e;
$color-green: #00a758;
$color-green-light1: #00c46e;
$color-green-light2: #5cd790;
$color-green-light3: #ace5c4;
$color-green-light4: #caeed9;

$color-blue-dark3: #000060;
$color-blue-dark2: #000082;
$color-blue-dark1: #00009a;
$color-blue: #0000c1;
$color-blue-light1: #1e1ee5;
$color-blue-light2: #2d69ff;
$color-blue-light3: #76b0ff;
$color-blue-light4: #c1d8f7;

$color-navy-dark3: #282b3e;
$color-navy-dark2: #34384b;
$color-navy-dark1: #424559;
$color-navy: #5e6073;
$color-navy-light1: #8e90a2;
$color-navy-light2: #ededed;
$color-navy-light3: #fafafa;
$color-navy-light4: #ffffff;

$color-turquoise-dark3: #0b9189;
$color-turquoise-dark2: #08a298;
$color-turquoise-dark1: #05b2a7;
$color-turquoise: #06c7ba;
$color-turquoise-light1: #28d7cb;
$color-turquoise-light2: #6ae7df;
$color-turquoise-light3: #9df3ed;
$color-turquoise-light4: #c5f4f1;

$color-gold-dark3: #a75900;
$color-gold-dark2: #ce7612;
$color-gold-dark1: #e38400;
$color-gold: #f49600;
$color-gold-light1: #f9ab2e;
$color-gold-light2: #fcc457;
$color-gold-light3: #f8d38a;
$color-gold-light4: #fbe9c6;

$color-violet-dark3: #0f011d;
$color-violet-dark2: #1d0833;
$color-violet-dark1: #260b42;
$color-violet: #361558;
$color-violet-light1: #533573;
$color-violet-light2: #8877ab;
$color-violet-light3: #beb4d3;
$color-violet-light4: #d9d2e8;

$color-normal: #202336;
$text-color: #202336;
$disabled-bg-color: #bcbec9;

// *************************************
// SIZE
// *************************************
$statusbar-height: 20px;
$navbar-height: 60px;
$header-height: calc(#{$statusbar-height} + #{$navbar-height});
$margin: 30px;
$column: 62px;
$gutter: 20px;
$bubble-size: 40px;
$bubble-button-width: calc(#{$bubble-size} * 2);
$productsummary-leftgrid-width: 224px;
$productsummary-topgrid-height: 146px;
$productsummary-margin-left: 50px;
$customer-card-width: 308px;
$calendar-bubble-size: 38px;
$clean-button-min-width: 36px;
$clean-button-gap: 20px;
$chart-slider-track-height: 3px;
$chart-slider-thumb-height: 16px;
$chart-slider-thumb-area: 30px;
$mat-slider-track-margin: 8px;
//regional

// *************************************
// FLEXBOX GRID
// *************************************
$grid-breakpoints: (
  extra-small: (
    name: xs,
    columns: 12,
    gutter: 20px,
    min-width: 0,
    container-margin: 20px,
    content-bottom-margin: 30px
  ),
  small: (
    name: sm,
    columns: 12,
    gutter: 20px,
    min-width: 768px,
    container-margin: 40px,
    content-bottom-margin: 30px
  ),
  medium: (
    name: md,
    columns: 12,
    gutter: 20px,
    min-width: 960px,
    container-margin: 40px,
    content-bottom-margin: 30px
  ),
  large: (
    name: lg,
    columns: 12,
    gutter: 20px,
    min-width: 1024px,
    container-margin: 40px,
    content-bottom-margin: 30px
  ),
  extra-large: (
    name: xl,
    columns: 12,
    gutter: 20px,
    min-width: 1920px,
    container-margin: 60px,
    content-bottom-margin: 30px
  )
);
