
<div class="text-white flex-item">
  <h1>Lâu Đài Băng</h1>
  <p class="description">Đây là lâu đài băng website được chạy trên nền HTML CSS SCSS thuần. Mục đích hướng đến giới thiệu trò chơi và hướng dẫn cách chơi hiệu quả nhất cho tất cả các thợ săn tân thủ.</p>
  <div class="box-shadow">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Fc0bNV-kC1k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <h3>Danh sách video hướng dẫn</h3>
  <div class="container">
      <a class="overlay" href="https://youtu.be/Fc0bNV-kC1k" target="_blank">
          <img src="../assets/images/Screenshot_20210102_231944.jpg">
      </a>
  </div>
</div>