<mat-toolbar color="primary" *ngIf="links" appSticky (offset)="getOffset($event)" id="screen-list-search">
    <mat-list-item *ngFor="let link of links">
        <a *ngIf="link.show" mat-button [routerLink]="link.url" routerLinkActive="router-link-active"
            matTooltip="{{link.description}}" matTooltipClass="tooltip">
            <mat-icon>{{link.icon}}</mat-icon> {{link.name| uppercase}}
        </a>
    </mat-list-item>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- <div *ngIf="!links">
    <mat-spinner></mat-spinner>
    <h4>loading link list . . . </h4>
</div> -->