body {
  font-family: 'Raleway', sans-serif;
  background-image: url('./assets/images/Screenshot_20210103_205401.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
