/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickyaside {
  position: fixed;
  top: 45px;
  width: 16.7%;
  height: 100%;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickydrawersidenav {
  position: fixed;
  top: 0;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.screenlistsearch {
  position: fixed;
  top: 0;
}
